@use '../../styles/vars.scss' as v;

.amount {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color-white;
  color: v.$color-primary;
  padding: v.$space v.$space * 2 v.$space * 2 v.$space * 2;
  &__value {
    font-size: 2.5rem;
    font-weight: v.$font-bold;
    margin-bottom: v.$space / 2;
  }
  &__currency {
    font-size: 1.5rem;
    font-weight: v.$font-light;
  }
}
