@use '../../styles/vars.scss' as v;

.currencies {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: v.$color-white;
  color: v.$color-primary;
  max-height: 50vh;
  overflow: auto;
  &__title {
    font-size: 1.5rem;
    font-weight: v.$font-bold;
    padding: 0 v.$space v.$space v.$space;
  }
}

.currency {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: v.$space;
  transition: background-color v.$transition-slow;
  cursor: pointer;
  // border-top: 1px solid v.$color-alt;
  &:hover {
    background-color: v.$color-alt;
    color: v.$color-white;
    transition: background-color v.$transition-fast;
  }
}

