@use '../../styles/vars.scss' as v;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color-primary;
  color: v.$color-white;
  padding: v.$space * 2;
  &__title {
    font-size: 3rem;
    font-weight: v.$font-normal;
    margin-bottom: v.$space / 2;
    @media (max-width: 1000px) {
      font-size: 2rem;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: v.$font-light;
  }
  &__value {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    padding: v.$space / 2;
    border: 0;
    text-align: center;
    margin: 0px 20px;
  }
  &__reset {
    border: 0;
    background-color: v.$color-primary;
  }
  &__icon {
    font-size: 1.5rem;
    margin: 0px 10px;
    color: v.$color-white;
  }
}
