@use '../../styles/vars.scss' as v;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: v.$font-light;
  background-color: v.$color-primary;
  color: v.$color-white;
  padding: v.$space * 2;
  &__title {
    font-size: 2.5rem;
    font-weight: v.$font-bold;
    margin-bottom: v.$space / 2;
  }
  &__value {
    font-size: 1.5rem;
    font-weight: v.$font-light;
  }
}
